/* .col{
    background-color:palevioletred;

} */
/* Graid css start */
.graidcolor1{
    background-color: gold;
}
.graidcolor2{
    background-color: blue;
}
.graidcolor3{
    background-color: red;
}
.graidcolor4{
    background-color: green;
}
/* Graid css and */
.imgae{
   padding: 2px;
   margin: auto;
   background-image:url(https://media.istockphoto.com/vectors/coronavirus-covid19-prevention-icon-set-virus-vector-illustration-vector-id1257079648?b=1&k=6&m=1257079648&s=612x612&w=0&h=IUv6Pfngd0izIQ5vVSVlTEDUS_Pjhbs-bkdgFa3V7yY=);
   background-repeat:repeat-x;
   border: black;
   border-radius: 2px;
}
.mx-auto{
    padding: 2px;
    margin-top: auto;
}
.c{
    padding: auto;
}
#divChart{
    display: block;
    width: 400px;
    height: 400px;
}